<div class="md:container md:mx-auto">
  <form class="max-w-md mx-auto mt-10">
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="search"
        id="default-search"
        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Pesquisar por nome da tarefa..."
        required
        (input)="search($event)"
      />
      <button
        type="submit"
        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Pesquisar
      </button>
    </div>
  </form>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-center text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Nome</th>
          <th scope="col" class="px-6 py-3">Custo</th>
          <th scope="col" class="px-6 py-3">Data Limite</th>
          <th scope="col" class="px-6 py-3">Ações</th>
        </tr>
      </thead>
      <tbody>
        @if (tarefas.length > 0) { @for (tarefa of tarefas; track $index) {
        <tr [ngClass]="{ 'bg-yellow-50 dark:bg-yellow-500 text-gray-900 dark:text-gray-200': tarefa.custo >= 1000, 'bg-gray-800 dark:bg-gray-800 text-white-900 dark:text-gray-200' : tarefa.custo < 1000}" class="text-center border">
          <th
            scope="row"
            class="px-5 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ tarefa.nome }}
          </th>
          <td class="px-5 py-4">R$ {{ tarefa.custo }}</td>
          <td class="px-5 py-4">
            {{ tarefa.dataLimite | date : "shortDate" }}
          </td>
          <td class="px-5 py-4 flex justify-center gap-3">
            <a
              (click)="editarTarefa(tarefa)"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer"
              >Editar</a
            >
            <a
              (click)="solicitarConfirmacaoExclusao(tarefa.id!)"
              class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 cursor-pointer"
            >
              Excluir
            </a>
          </td>
        </tr>

        <div *ngIf="showConfirmDialog" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
          <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full text-center">
            <h2 class="text-lg font-semibold mb-4">Tem certeza?</h2>
            <p class="text-gray-600 mb-6">Você não poderá desfazer essa ação!</p>
            <div class="flex justify-center space-x-4">
              <button (click)="confirmDelete()" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Sim, excluir</button>
              <button (click)="cancelDelete()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400">Cancelar</button>
            </div>
          </div>
        </div>
        } }@else {
        <tr
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
        >
          <td colspan="4" class="px-6 py-4 text-center">
            Nenhuma tarefa cadastrada
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <button
    [routerLink]="['/cadastro']"
    routerLinkActive="router-link-active"
    type="button"
    class="mt-5 w-full focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
  >
    INCLUIR
  </button>
</div>
